{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "max-len": ["error", 140, 2],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "tw", "cn"],
  "tailwindConfig": "./configs/tailwind-config/tailwind.config.ts"
}
