@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 0, 0%, 93%;
  --color-foreground: 0, 0%, 7%;
  --color-primary: 88, 78%, 55%;
}

[class='dark'] {
  --color-background: 0, 0%, 0%;
  --color-foreground: 0, 0%, 93%;
  --color-primary: 88, 78%, 55%;
}
